.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__logo {
    background-image: url("../../assets/Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 5rem;
    width: 10rem;
  }
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5rem;
    &__logo {
      height: 10rem;
      margin-right: 10rem;
    }
    &__nav {
      flex-grow: 3;
    }
    &__resources {
      flex-grow: 1;
    }
  }
}
