@use '../../../sass/variables';
:host {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  .attribute__image {
    align-items: center;
    background-color: variables.$bg1;
    border-radius: 50%;
    display: flex;
    font-size: 1.5rem;
    height: 5rem;
    justify-content: center;
    padding: 1 .3rem 0;
    min-width: 70px;
  }
  .attribute__title {
    font-size: 1.5rem;
  }
}
